.tag-list {
    li {
        display: inline-block;
        margin-right: 3px;
        margin-bottom: 5px;
    }

    a {
        display: block;
        font-family: "Courier New", Courier, monospace;
        padding: 0.125rem 0.5rem;
        font-size: 0.72rem;
        border-radius: 0.2rem;
        border: 1px solid var(--tertiary);
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
            color: var(--accent);
            border: 1px solid var(--accent);
        }
    }
}

.terms-tags {
    li {
        display: inline-block;
        margin: 10px;
        font-weight: 500;
    }

    a {
        font-family: "Courier New", Courier, monospace;
        padding: 0.5rem 0.5rem;
        border-radius: 0.2rem;
        border: 1px solid var(--tertiary);
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
            color: var(--accent);
            border: 1px solid var(--accent);
            transform: scale(0.96);
        }
    }
}
