{{- define "main" }}

{{- partial "page_header.html" . }}

{{- if .Params.cover.image }}
<figure class="entry-cover">
  {{- if (ne .Params.cover.relative true) }}
  <img src="{{ .Params.cover.image | absURL }}" alt="{{ .Params.cover.alt | plainify }}">
  {{- else}}
  <img src="{{ (path.Join .RelPermalink .Params.cover.image ) | absURL }}" alt="{{ .Params.cover.alt | plainify }}">
  {{- end}}
  <p>{{.Params.cover.caption | markdownify }}</p>
</figure>
{{- end }}

<section class="post-content">
  {{ .Content }}
</section>

{{- end  }}
{{/* end main */}}